/*Paginator*/
#pag1 {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
}

#pag2 {
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
}

.list-pages {
    text-align: center;
    margin: 0 0 20px 0;
}

.list-pages ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.list-pages ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.list-pages a {
    font-size: 24px;
    text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 7px;
    padding: 16px 0 1 0;
    border: 3px solid #d0d0d0;;
    border-radius: 30px;
}

.list-pages .page-num:hover {
    box-shadow: 3px 3px 1px #d0d0d0;
}

.list-pages .page-num-selected {
    border: none;
    color: #000;
    font-size: 20px;
}

.list-pages .page-num-selected:hover {
    box-shadow: none;
}


/*Body*/
html {
    font-size: 16px;
}

body {
    background: url(../img/fon.jpg) no-repeat center fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    min-width: 320px;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

/*Header*/
nav {
    background: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link {

    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.modal-body img {
    max-width: 100px;
}


/*Carousel*/
.my-carousel {
    padding: 0;
}

.my-carousel .carousel-item {
    display: flex;
    max-height: 500px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}


/*Section*/
.product-card {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.product-price small {
    color: #ccc;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}


/*Product Details*/
.product-card-details {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card-details:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details h6 img {
    font-size: 15px;
    margin-bottom: 30px;
    height: 130px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 0;
    color: #111111;
    height: 44px;
    overflow: hidden;
}

.product-details h6 p {
    height: 130px;
    max-width: 100%;
    max-height: 100%;
}

.product-details h6 p {
    height: 130px;
    max-width: 100%;
    max-height: 100%;
}

.product-details img {
    height: 60px;
    max-width: 100%;
    max-height: 100%;
}


.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.product-price small {
    color: #ccc;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-price span {
    color: black;
}

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}

.btn-details {
    font-size: 15px;
}


/*Footer*/
.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}


.filter {
    background-color: #343434;
}

.filter h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.filter a {
    text-decoration: none;
    transition: all .3s;
}

.filter a:hover {
    color: #fff;
    text-decoration: underline;
}

.filter a .filter li {
    color: #c8c8c8;
}

.filter li a {
    display: block;
}



