{% extends 'base.html' %}
{% load static%}




{% block content %}


<div id="headerwrap">
    {% include 'base/header.html' %}
</div>




<main id="dg">
  <div class="container">
      <div class="row centered">
        <h4><i class="fa fa-clipboard" aria-hidden="true"></i>POSTS<i class="fa fa-clipboard" aria-hidden="true"></i></h4>
        <br>
        <br>
        <br>
        {% for game in genres %}
        <div class="col-lg-4 truncate-text">
          <div class="tilt">
            <a href="{{ game.get_absolute_url }}"><img  src="{{game.poster.url}}" alt="" width="200" height="200"></a>
          </div>
          <h2>{{ game.title }}</h2>
             <button type="button" class="btn btn-sm btn-outline-secondary btn-info" ><a class="text-dark" href="#">{{ game.price }}</a></button>
          <br>
          <br>
          <br>
          <br>
        </div>
        {% endfor %}
      </div>
  </div>

</main>


<aside id="pag">
    {% include 'base/paginator.html' %}
</aside>






{% endblock %}