{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container truncate-text" id="box">
    <div class="featurette text-center" id="card">
        <img src="{{ game.poster.url }}" class="bd-placeholder-img rounded-circle" width="250" height="250" >
        <h1 class="featurette-heading "> post_detail.name  <br></h1>
        <hr class="featurette-divider">
    </div>
    <div class=" text-center ">
        <h2 class="featurette-heading  text-center">Description<br></h2>
        <div >
            <h4>-<br>post_detail.description</h4>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="featurette ">
        <h2 class="featurette-heading clip text-center">Code!<br></h2>
        <br>
        <div class = "title_code  text-center">
            <h3>Example</h3>
        </div>
        <pre><code class="python">post_detail.description_cod</code></pre>
    </div>
    <hr class="featurette-divider">
    <p class="featurette-heading ">Date and time of creation: post_detail.time_create|date:"d-m-Y H:i:s" <br></p>
    <p class="featurette-heading ">Date and time of last update: post_detail.time_update<br></p>
</div>
<div class="container truncate-text" id="comment">
    <h2 class="text-center"><i class="fa fa-clipboard" aria-hidden="true"></i>Comments<i class="fa fa-clipboard" aria-hidden="true"></i></h2>
    <br>
    <form class="form-label" action="#" method="post" >
        {% csrf_token %}
        {{form.as_p}}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Add a comment</button>
        </div>
    </form>
    <hr class="featurette-divider">
    <h3>Comments:</h3>
    {% for comment in post_detail.comments.all %}
    <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> comment.author</h3><span class="featurette-heading  text-center"> comment.comment</span>
    <p><span class="featurette-heading ">Date and time of creation: comment.time_create|date:"d-m-Y H:i:s" <br></span></p>
    <hr class="featurette-divider">
    {% endfor %}
</div>

{% endblock %}