{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-0 col-sm-0 mb-3">
                <div class="product-card-details">
                    <div class="product-thumb">
                        <a href="{{ game.get_absolute_url }}"><img src="{{ game.poster.url }}" alt=""></a>
                    </div>
                    <div class="product-details ">

                        <h4 class="border-bottom"><a href="{{ game.poster.url }}">{{ game.title }}</a></h4>
                        <h6><b>Про Ігру:</b></br>
                            <p></br>
                                {% for image in game.gameshots_set.all %}
                                    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}"
                                                                         alt="{{ image.descriptions }}"></a>
                                {% endfor %}
                            </p></br>
                        </h6>
                        <p><b>Компанія: </b>{{ game.company }} <img src="{{ game.company.image.url }}"
                                                                    alt="{{ image.descriptions }}"></p></br>
                        <p><b>Лінійка ігор:</b> {{ game.games_line }} <img src="{{ game.games_line.image.url }}"
                                                                           alt="{{ image.descriptions }}"></p></br>
                        <p><b>Доступно на:</b>
                            {% for platform in game.platform.all %}
                                <a href="{{ platform.get_absolute_url }}">
                                    <button type="submit"
                                            class="btn btn-success btn-details">{{ platform.title }}</button>
                                </a>
                            {% endfor %}
                        </p>
                        <p><b>Жанри:</b>
                            {% for genre in game.genres.all %}
                                <a href="{{ genre.get_absolute_url }}">
                                    <button type="submit" class="btn btn-success btn-details">{{ genre.title }}</button>
                                </a>
                            {% endfor %}
                        </p>
                        <p><b>Країна:</b> {{ game.country }}</p>
                        <b>Опис:</b></br> {{ game.descriptions }} </br></br>
                        <p><b>Рік випуску:</b> {{ game.year }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <span>Price: </span>$ {{ game.price }}
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <button type="submit" class="btn btn-success">Buy now!</button>
                                </a>
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}