{% extends 'base.html' %}

{% block content %}


<div class="container truncate-text" id="box">
    <div class="featurette text-center" id="card">
        <img src="{{ game.poster.url }}" class="bd-placeholder-img " width="150" height="150" >
        <h1 class="featurette-heading ">{{ game.title }} <br></h1>
        <hr class="featurette-divider">
    </div>
    <div class=" text-center ">
        <h2 class="featurette-heading  text-center">"Description"<br></h2>
        <div >
            <h4>-<br>{{ game.description }}</h4>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="featurette ">
        <h2 class="featurette-heading clip text-center">"Code!"<br></h2>
        <br>
        <div class = "title_code  text-center">
            <p>
                {% for image in game.gameshots_set.all %}
                    <img src="{{ image.image.url }}" class="image_fluid" width="150" height="150" alt="{{ image.description }}" >
                {% endfor %}
            </p>
        </div>
        <a href="#" class="btn btn-lg btn_block btn-outline-primary">{{ game.price }}</a>
    </div>
    <hr class="featurette-divider">

</div>


{% endblock %}