{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
      <div class="row centered">
        <h4><i class="fa fa-clipboard" aria-hidden="true"></i>POSTS<i class="fa fa-clipboard" aria-hidden="true"></i></h4>
        <br>
        <br>
        <br>
        {% for game in game_list %}
        <div class="col-lg-3 truncate-text ">
        <div class="card-body">
          <div >
            <a href="{{ game.get_absolute_url }}"><img  src="{{game.poster.url}}" alt="" width="130" height="180"></a>
          </div>
            <div>
          <h2>{{ game.title }}</h2>
             <button type="button" class="btn btn-sm btn-outline-secondary btn-info" ><a class="text-dark" href="#">{{ game.price }}</a></button>
            </div></div>
          <br>
          <br>
          <br>

        </div>
        {% endfor %}
      </div>
  </div>


<aside id="pag">
  {% include 'paginator.html' %}
</aside>



{% endblock %}