{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-outline form-white mb-4">
                                    {{ form.username }}
                                    <label class="form-label" for="{{ form.username.id_for_label }}">Name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    {{ form.password }}
                                    <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                                </div>
                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="{% provider_login_url 'google' %}" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>

                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="#" class="text-white-50 fw-bold">Sign
                                Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
