{% extends 'base.html' %}
{% load static %}

{% block content %}






<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
            <div class="card">
                <div class="rounded-top text-white d-flex flex-row"
                     style="background-color: #000; height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column text-center" style="width: 150px;">
                        <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/foto.jpg' %}{% endif %}"
                             alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                             style="width: 150px; z-index: 1">
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5>Your Profile</h5>
                    </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                    <div class="d-flex justify-content-end text-center py-1">
                    </div>
                </div>
                <div class="card-body p-4 text-black">
                    <div class="mb-5">
                        <p class="lead fw-normal mb-1">Information</p>
                        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.image.id_for_label }}">Image:</label><br>
                                        {{ form.image }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.first_name.id_for_label }}">First Name:</label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Last Name:</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-lg-12">
                                    <div class="form-row">
                                        <div class="col-lg-12">
                                            <label class="small mb-1" for="{{ form.username.id_for_label }}">Username:</label>
                                            {{ form.username }}
                                        </div>
                                        <div class="col-lg-12">
                                            <label class="small mb-1" for="{{ form.email.id_for_label }}">Email:</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-12" style="margin-top: 33px;">
                                            <input class="btn btn-info btn-block" type="submit"
                                                   value="Save">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}